* {
    margin: 0px;
    padding: 0px;
}

#container {
  margin: 20px auto;
  width: 600px;
  text-align: center;
}

canvas {
  background: #333388;
  display: block;
}

#fps{
  float: right;
  height: 20px;
  margin-top: -25px;
  padding-right: 5px;
  font-size: 20px;
  color: white;
  text-align: right;
  font-family: monospace;
  position: relative;
}

#fps.sleeping{
  color: gray;
}

button{
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  width: 80px;
}

#info{
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
}

#info p{
  margin-bottom: 10px;
}