* {
    margin: 0px;
    padding: 0px;
}

#container {
  margin: 20px auto;
  width: 600px;
  text-align: center;
}

canvas {
  background: #333388;
  display: block;
}

button{
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

#info{
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
}

#info p{
  margin-bottom: 10px;
}