* {
    margin: 0px;
    padding: 0px;
}

canvas {
  background: #333388;
  margin: 20px auto;
  display: block;
}

#info{
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 600px;
}

#info p{
  margin-bottom: 10px;
}